@media (min-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header main" "footer main"
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
    .container {
        grid-area: main;
        margin: 0;
        max-width: none;
        position: relative;
    }
    #categories {
        margin: 0;
        overflow: scroll;
    }
    #categories ul {
        padding: 5px 2em;
    }
    #categories ul li {
        border: 2px solid gold;
        border-radius: 15px;
        display: inline-block;
        margin: 5px;
        min-width: 15%;
        height: 2em;
    }
    #categories ul li:hover {
        border-style: ridge;
    }
    .category-cnt {
        margin: 0.5em 1em;
    }
    #main-content {
        padding: 0;
    }
    .page-navigation a {
        font-size: unset;
    }
}
