<label class="title">
  <p>Categories <i class="open-close-icon"></i></p>
  <input type="checkbox" class="hide" onchange="toggleCategoryTab(this)">
</label>
<ul id="category-list" class="hide"
  ontouchstart="setBorder(this, 'outset')"
  ontouchend="setBorder(this, 'hidden');">
  {% assign idx = 0 %}
  {% assign currentCategory = page.url | split: '/' %}
  {% assign currentCategory = currentCategory[1] | downcase %}
  {% for category in site.categories %}
    {% assign categoryName = category | first | downcase %}
    <a href="/{{categoryName}}">
      <li {% if currentCategory == categoryName %} class='active' {% endif %}
        data-show="{{ categoryName }}"
        ontouchstart="setBorder(this, 'inset')"
        ontouchend="setBorder(this, 'none');this.style.borderTop='1px solid #999'">
          {{ categoryName }}
          <span class="category-cnt">{{ category | last | size }}</span>
      </li>
      </a>
    {% assign idx = idx | plus: 1 %}
  {% endfor %}
</ul>

