<p>Categories</p>
<ul>
  {% assign idx = 0 %} {% for category in site.categories %}
  <li {% if idx==0 %} class="active" {% endif %} data-show="{{ category | first }}"
    ontouchstart="setBorder(this, 'inset')"
    ontouchend="setBorder(this, 'none');this.style.borderTop='1px solid #999'"
    onclick="showContent(this)">
    <a href="javascript:void(0)">
      {{ category | first }}
      <span class="category-cnt">{{ category | last | size }}</span>
    </a>
  </li>
  {% assign idx = idx | plus: 1 %} {% endfor %}
</ul>

