#categories {
    p {
        background-color: floralwhite;
        color: blueviolet;
        text-align: center;
    }
    ul li {
        border-radius: 25px;
        border-style: hidden;
        border-color: gold;
        &:hover,
        &:active {
            border-style: ridge;
        }
        &.active {
            background-color: gold;
        }
    }
}

.category-cnt {
    background-color: #F6F6F6;
    box-shadow: 0 0 3px #1C3340;
    border-radius: 50%;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    width: 1.5rem;
}
