#categories {
    background-color: #F6F6F6;
    box-shadow: 0 0 10px #999;
    margin-top: 3rem;
    padding: 0;
    font-size: 1.5em;
    .title {
        display: flex;
        justify-content: center;
        &:hover {
            border-style: inset;
        }
    }
    p {
        background-color: floralwhite;
        color: blueviolet;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    a {
        color: #337ab7;
        &:hover {
            text-decoration: none;
        }
    }
    ul li {
        line-height: 2.5rem;
        border-top: 1px solid #999;
        padding-left: 2rem;
        list-style: none;
        &.active {
            background-color: gold;
        }
    }
}

.open-close-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.open {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.category-cnt {
    background-color: #F6F6F6;
    box-shadow: 0 0 3px #1C3340;
    border-radius: 50%;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    width: 1.5rem;
}
