#post-detail {
    background-color: white;
    margin: 1em 10px 0.5em;
    padding: 20px;
    border-radius: 15px;
}

.page-navigation {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    a {
        color: blueviolet;
        background-color: skyblue;
        border-radius: 15px;
        padding: 10px;
    }
}
