
<!DOCTYPE html>
<html lang="en-US">
	{% include meta_head.html %}
  <body>
		<header id="site-header" role="banner">
			{% include header.html %}
		</header>
		<section class="container">
			<aside id="categories">
				{% include categories.html %}
			</aside>
			<main id="main-content">
				{% include post_list.html %}
			</main>
		</section>
		<footer id="footer">
				{% include footer.html %}
		</footer>
	</body>
	<script type="text/javascript" src="{{site.baseurl}}/js/application.js" async defer></script>
</html>
