
<!DOCTYPE html>
<html>
	{% include meta_head.html %}
  <body>
		<header id="site-header" role="banner">
			{% include header.html %}
		</header>
		<section class="container">
			<aside id="categories">
				{% include categories.html %}
			</aside>
			<main id="main-content">
				{% include post_list.html %}
			</main>
		</section>
		<footer id="footer">
				{% include footer.html %}
		</footer>
	</body>
	<script>
		var setBorder = (el, borderStyle) => el.style.borderStyle = borderStyle;
		var showContent = (el) => {
			if(el.classList.contains('active'))
				return;
			let $activeSection = document.getElementsByClassName(el.dataset.show)[0];
			setActive(el);
			setActive($activeSection);
		}
		var setActive = (el) => {
			let $siblingEls = el.parentElement.children
			for(let i = 0; i< $siblingEls.length; i++){
				if ($siblingEls[i] === el) continue;
				$siblingEls[i].classList.remove("active");
			}
			el.classList.add("active");
		}

		var toggleCategoryTab = (el) => {
			let categoryEl = document.getElementById('category-list');
			let iconEl = document.getElementsByClassName('open-close-icon')[0];
			if(el.checked) {
				categoryEl.classList.remove('hide');
				iconEl.classList.add('open');
			}
			else {
				categoryEl.classList.add('hide');
				iconEl.classList.remove('open');
			}
		}
	</script>
</html>
