a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#site-header {
    background-color: black;
    border-top: 5px solid #424242;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#main-content {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
    margin: 0 auto;
    max-width: 1250px;
}

#footer {
    background-color: black;
    color: white;
    padding: 1.5rem;
}

.hide {
    display: none;
}

.active {
    display: block;
}
