$base_color: #1c3340;
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#site-header {
    background-color: $base_color;
    border-top: 5px solid #424242;
    min-height: 55px;
}

#footer {
    background-color: $base_color;
    color: white;
    padding: 1.5rem;
}

#main-content {

}

#categories {
    background-color: #F6F6F6;
    margin-top: 3rem;
    padding: 0;
    font-size: 1.5em;
    box-shadow: 0 0 10px #999;
    li {
        line-height: 2.5rem;
        border-bottom: 2px solid #DDDDDD;
        padding-left: 2rem;
    }
    a {
        color: #337ab7;
    }
}

.page-title {
    background-color: antiquewhite;
    grid-area: title;
}
